@using HRSystem.Models

@model OfficialHolidays


<section id="horizontal-form-layouts">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title" id="horz-layout-basic">Official Holidays Form </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form form-horizontal" method="post" asp-action="saveAdd" asp-controller="OfficialHolidays">
                            <div class="form-body raw">
                                <h4 class="form-section">
                                    <i class="icon-user"></i>General information
                                </h4>
                                <div class="form-group col-lg-6  col-md-6 col-sm-12">
                                    <label asp-for="Date"> Date</label>
                                    <div >
                                        <input asp-for="Date" class="form-control" />
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6  col-md-6 col-sm-12">
                                    <label asp-for="Name"> Name</label>
                                    <div >
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success " value="Add">
                                        <i class="icon-note"></i> ADD
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- // Basic form layout section end -->
<!------------------------------------------------------------>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-light bg-dark">
            <tr class="text-center">
                <th>Name</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.offHolday)
            {
                <tr >
                    <!-- Modal -->

                <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" id="modalDialog">
                            <div class="modal-content" id="modalContent">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>Are you sure you need to delete this data ? </h5>
                                </div>
                                <div class="modal-footer">
                                    <a asp-action="Delete" asp-controller="OfficialHolidays" class="btn btn-danger" asp-route-id="@item.Id">Delete </a>


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
            </tr>
                <tr class="text-center">
                    <td>@item.Name</td>
                    <td>@item.Date.Day/@item.Date.Month/@item.Date.Year,@item.Date.DayOfWeek</td>
                    <td>
                        <a asp-action="Edit" asp-controller="OfficialHolidays" class="btn btn-success mr-1" asp-route-id="@item.Id">Edit </a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal-@item.Id">Delete</button>

                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>

<!------------------------------------------------------------>
